* {
    font-size: 16px;
}



.AllDepartments {
    width: 90%;
    height: 98%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    border: 1px solid #A2A1A833;
    border-radius: 10px;

    .boxSearch {
        height: 50px;
        width: 330px;
        border-radius: 10px;
        padding: 13px 16px;
        border: 1px solid #A2A1A81A;

        input.search {
            border: none;
        }
    }

    .listDepartment {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;

        .detailDepartment {
            width: 505px;
            border: 1px solid #A2A1A833;
            border-radius: 10px;
            padding: 20px;
        }

    }
}