* {
    font-size: 16px;
}



.cha{
    display: flex;
    align-items: center;
    height: 1024px;
    width: 82%;
}
.addEmployee {
    width: 90%;
    height: 98%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    border: 1px solid #A2A1A833;
    border-radius: 10px;

    .topList {
        height: 25px;
        display: flex;
        gap: 20px;

        .topDetailOn {
            display: flex;
            gap: 5px;
            color: #7152F3;
            border-bottom: 3px solid;
            border-bottom-color: #7152F3;
        }

        .topDetailOff {
            display: flex;
            gap: 5px;

        }

    }

    .content {

        .addPhoto {
            display: flex;
            height: 100px;
            width: 100px;
            background-color: #A2A1A833;
            border-radius: 10px;
            border: 1px solid #A2A1A833;
            align-items: center;
            justify-content: center;

        }

        .input2 {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            margin-top: 20px;

            input {
                width: 508px;
                height: 56px;
                border-radius: 10px;
                border: 1px solid #A2A1A833;
                padding-left: 10px;
            }

        }

        .input1 {
            input {
                width: 1036px;
                height: 56px;
                border-radius: 10px;
                border: 1px solid #A2A1A833;
                margin-top: 20px;
                padding-left: 10px;
            }

        }

        .input3 {
            display: flex;
            gap: 20px;
            margin-top: 20px;

            input {
                width: 332px;
                height: 56px;
                border-radius: 10px;
                border: 1px solid #A2A1A833;
                padding-left: 10px;
            }
        }
    }

    .buttom {
        height: 50px;
        width: 1040px;
        display: flex;
        justify-content: end;
        gap: 20px;

        button.cancel {
            height: 50px;
            width: 91px;
            border-radius: 10px;
            border: 1px solid Gray;
            padding: 13px 0px;
            justify-content: center;
        }

        button.next {
            height: 50px;
            width: 91px;
            border-radius: 10px;
            background-color: #7152F3;
            color: white;
            text-align: center;
            padding: 13px 0px;
            justify-content: center;
        }

        button.add {
            height: 50px;
            width: 91px;
            border-radius: 10px;
            background-color: #7152F3;
            color: white;
            padding: 13px 0px;
            justify-content: center;
        }
    }
}